.App {
}

.fullpage {
  height: 100vh;
  width: 100hh;
}

.darkgray {
  background-color: #111111;
}

#front-page{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.4fr 1fr;
  align-items: center;
  justify-items: center;
}

#logo {
  grid-row: 2;
  display: grid;
}

#frontName {
  grid-row: 3;
  font-size: 70px;
  color: white;
}
#frontDescription {
  grid-row: 4;
  font-size: 30px;
  color: #ffa100;
}

.section {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 120px 100px 1fr 140px;
  grid-template-areas:
    ". . ."
    ". title ."
    ". content ."
    ". . .";
}
.sectionTitle {
  grid-area: title;
  font-size: 50px;
  color: white;
}
.sectionContent {
  grid-area: content;
  font-size: 24px;
  line-height: 1.5;
  color: white;
}
/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
