.Header {
  display: block;
  background-color: #181818;
  width: 100%;
  position: fixed;
  top: 0px;
}

#logo {
  float: left;
  padding: 10px;
}

.nav-link {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  float: right;
}

.nav-link:hover {
  background-color: gray;
}

.Header a {
  color: white;
  text-decoration: none;
}
